@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ApfelGrotezk';
  src: url('/fonts/ApfelGrotezk-Fett.woff2') format('woff2'),
        url('/fonts/ApfelGrotezk-Fett.woff') format('woff');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/Literata-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 600;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans;
}

h1 {
  @apply text-heading-xl font-bold;
}

h2 {
  @apply text-heading-m font-bold;
}

h3 {
  @apply text-body-m font-bold;
}

body, input {
  @apply font-serif;
  @apply text-body-m;
  font-weight: 350;
}

/* Button default styles */
.btn {
  @apply font-sans text-body-m border-2;
}

.btn.btn-outline:hover {
  @apply text-odd-yellow-100;
}

.btn[disabled] {
  @apply bg-odd-green-500 text-odd-yellow-100 opacity-50;
}

.btn[disabled].btn-outline {
  @apply bg-odd-yellow-200 text-odd-green-500 opacity-50;
}

.btn[disabled].form-btn {
  @apply bg-odd-gray-500 text-odd-yellow-100 opacity-50;
}

.btn-loading {
  @apply text-left;
}

.btn-loading:after {
  content: "...";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis-dot 1.25s infinite .3s;
  animation-fill-mode: forwards;
  width: 1.25em;
}

/* Input default styles */
.input-bordered {
  @apply text-base-content;
  @apply border-2;
  @apply border-base-content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Modal default styles */
.modal {
  @apply bg-base-100;
  @apply bg-opacity-75;
}

.modal-box {
  @apply p-12;
  @apply border-2;
  @apply border-base-content;
  @apply min-w-[33vw];
  @apply max-w-2xl;
}

/* Label default styles */
.label {
  @apply px-0;
}

.label-text-alt {
  @apply text-body-sm;
}
